mixin work-card(link, gradient, gradientHover, image, labelTop, title, hoverText, labelBottom)
	li.wrap-work-card
		figure.work-card(style=gradient)

			.work-card__layer-hover(style=gradientHover)
			
			.work-card__wrap-img.work-card__element
				img.work-card__img(src=image, alt="")

			span.work-card__label.work-card__label_top.work-card__element.text-medium= labelTop

			figcaption.work-card__title.work-card__element.title-h2= title

			p.work-card__text.work-card__element.text-medium= hoverText

			a(href=link, target="_blank").work-card__link.work-card__element.text-medium view site

			span.work-card__label.work-card__label_bottom.work-card__element.text-medium= labelBottom


.works
	.container

		span.works__title.title-h1.section-title Works

		ul.works-list
			+work-card(
				"#",
				"background: linear-gradient(224.48deg, #1CBBEA 12.29%, #64D7F9 79.88%);",
				"background: linear-gradient(224.48deg, #09C4FB 12.29%, #218AA9 79.88%);",
				"img/works/StartFX.png",
				"StartFX",
				"Global brokerage",
				"Creating the best and fairest brokerage in the industry.",
				"Branding, Website")

			+work-card(
				"#",
				"background: linear-gradient(126.03deg, #07FACE 19.29%, #11EE91 87.78%);",
				"background: linear-gradient(126.03deg, #1AC0A2 19.29%, #87E6BE 87.78%);",
				"img/works/Biolatina.png",
				"Biolatina",
				"Certify from Latin America",
				"Managed to consolidate ourselves as CERTIFICATION",
				"CMS, Website")
		
		a(href="#", target="_blank", data-text="All works").works__btn.btn
			span.btn__overlay
			span.btn__text All works