.materials(role="region")
	.wrap-slider-rows
		.wrapper
			.materials__slider.slider.slider-secondary.swiper-container
				.swiper-wrapper
					.swiper-slide
						.card(
							style="background-image: url('img/materials-1.png');"
						)
							span.title-1.card__title Фанера ФК
							a(href="#").btn.card__btn
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее


					.swiper-slide
						.card(
							style="background-image: url('img/materials-2.png');"
						)
							span.title-1.card__title Фанера ФК
							a(href="#").btn.card__btn
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее


					.swiper-slide
						.card(
							style="background-image: url('img/materials-3.png');"
						)
							span.title-1.card__title Фанера ФК
							a(href="#").btn.card__btn
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее

					.swiper-slide
						.card(
							style="background-image: url('img/materials-1.png');"
						)
							span.title-1.card__title Фанера ФК
							a(href="#").btn.card__btn
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее


					.swiper-slide
						.card(
							style="background-image: url('img/materials-2.png');"
						)
							span.title-1.card__title Фанера ФК
							a(href="#").btn.card__btn
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее


					.swiper-slide
						.card(
							style="background-image: url('img/materials-3.png');"
						)
							span.title-1.card__title Фанера ФК
							a(href="#").btn.card__btn
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее


			.materials__slider.slider.slider-main.swiper-container
				.swiper-wrapper
					.swiper-slide
						.card(
							style="background-image: url('img/materials-1.png');"
						)
							span.title-1.card__title Фанера ФК
							a(href="#").btn.card__btn
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее

					.swiper-slide
						.card(
							style="background-image: url('img/materials-1.png');"
						)
							span.title-1.card__title Фанера ФК
							a(href="#").btn.card__btn
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее


					.swiper-slide
						.card(
							style="background-image: url('img/materials-2.png');"
						)
							span.title-1.card__title Фанера ФК
							a(href="#").btn.card__btn
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее


					.swiper-slide
						.card(
							style="background-image: url('img/materials-3.png');"
						)
							span.title-1.card__title Фанера ФК
							a(href="#").btn.card__btn
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее


					.swiper-slide
						.card(
							style="background-image: url('img/materials-2.png');"
						)
							span.title-1.card__title Фанера ФК
							a(href="#").btn.card__btn
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее


					.swiper-slide
						.card(
							style="background-image: url('img/materials-3.png');"
						)
							span.title-1.card__title Фанера ФК
							a(href="#").btn.card__btn
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее

					.swiper-slide
						.card(
							style="background-image: url('img/materials-3.png');"
						)
							span.title-1.card__title Фанера ФК
							a(href="#").btn.card__btn
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее


			.slider__controls
				.slider__pagination

				.slider__wrap-nav
					span.slider__arrow.slider__arrow_prev(role="button")
						svg.slider__arrow-icon(width="32" height="24" viewbox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M10.4516 1.08815C10.8875 0.636958 11.6131 0.636958 12.0643 1.08815C12.5002 1.5241 12.5002 2.24966 12.0643 2.68459L3.88695 10.8619H30.871C31.5 10.8629 32 11.3629 32 11.9919C32 12.621 31.5 13.1372 30.871 13.1372H3.88695L12.0643 21.2993C12.5002 21.7505 12.5002 22.477 12.0643 22.912C11.6131 23.3632 10.8865 23.3632 10.4516 22.912L0.338392 12.7988C-0.112797 12.3628 -0.112797 11.6373 0.338392 11.2023L10.4516 1.08815Z")

					span.slider__arrow.slider__arrow_next(role="button")
						svg.slider__arrow-icon(width="33" height="24" viewbox="0 0 33 24" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M22.0582 1.08815C21.6222 0.636958 20.8967 0.636958 20.4455 1.08815C20.0095 1.5241 20.0095 2.24966 20.4455 2.68459L28.6228 10.8619H1.63876C1.00973 10.8629 0.509766 11.3629 0.509766 11.9919C0.509766 12.621 1.00973 13.1372 1.63876 13.1372H28.6228L20.4455 21.2993C20.0095 21.7505 20.0095 22.477 20.4455 22.912C20.8967 23.3632 21.6233 23.3632 22.0582 22.912L32.1714 12.7988C32.6226 12.3628 32.6226 11.6373 32.1714 11.2023L22.0582 1.08815Z")

	.wrap-slider-simple
		.wrapper
			.materials__slider.slider.swiper-container
				.swiper-wrapper
					.swiper-slide
						.card(style="background-image: url('img/materials-1.png');")
							h2.title-1.card__title Фанера ФК
							a.btn.card__btn(href="#")
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее

					.swiper-slide
						.card(style="background-image: url('img/materials-2.png');")
							h2.title-1.card__title Оргстекло
							a.btn.card__btn(href="#")
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее

					.swiper-slide
						.card(style="background-image: url('img/materials-3.png');")
							h2.title-1.card__title Ткань
							a.btn.card__btn(href="#")
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее

					.swiper-slide
						.card(style="background-image: url('img/materials-3.png');")
							h2.title-1.card__title Ткань
							a.btn.card__btn(href="#")
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее
					.swiper-slide
						.card(style="background-image: url('img/materials-2.png');")
							h2.title-1.card__title Оргстекло
							a.btn.card__btn(href="#")
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее

					.swiper-slide
						.card(style="background-image: url('img/materials-3.png');")
							h2.title-1.card__title Ткань
							a.btn.card__btn(href="#")
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее

					.swiper-slide
						.card(style="background-image: url('img/materials-3.png');")
							h2.title-1.card__title Ткань
							a.btn.card__btn(href="#")
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее
					.swiper-slide
						.card(style="background-image: url('img/materials-2.png');")
							h2.title-1.card__title Оргстекло
							a.btn.card__btn(href="#")
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее

					.swiper-slide
						.card(style="background-image: url('img/materials-3.png');")
							h2.title-1.card__title Ткань
							a.btn.card__btn(href="#")
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее

					.swiper-slide
						.card(style="background-image: url('img/materials-3.png');")
							h2.title-1.card__title Ткань
							a.btn.card__btn(href="#")
								img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
								img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
								span.btn__text Подробнее


			.slider__wrap-nav
				span.slider__arrow.slider__arrow_prev(role="button")
					svg.slider__arrow-icon(width="32" height="24" viewbox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M10.4516 1.08815C10.8875 0.636958 11.6131 0.636958 12.0643 1.08815C12.5002 1.5241 12.5002 2.24966 12.0643 2.68459L3.88695 10.8619H30.871C31.5 10.8629 32 11.3629 32 11.9919C32 12.621 31.5 13.1372 30.871 13.1372H3.88695L12.0643 21.2993C12.5002 21.7505 12.5002 22.477 12.0643 22.912C11.6131 23.3632 10.8865 23.3632 10.4516 22.912L0.338392 12.7988C-0.112797 12.3628 -0.112797 11.6373 0.338392 11.2023L10.4516 1.08815Z")

				span.slider__arrow.slider__arrow_next(role="button")
					svg.slider__arrow-icon(width="33" height="24" viewbox="0 0 33 24" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M22.0582 1.08815C21.6222 0.636958 20.8967 0.636958 20.4455 1.08815C20.0095 1.5241 20.0095 2.24966 20.4455 2.68459L28.6228 10.8619H1.63876C1.00973 10.8629 0.509766 11.3629 0.509766 11.9919C0.509766 12.621 1.00973 13.1372 1.63876 13.1372H28.6228L20.4455 21.2993C20.0095 21.7505 20.0095 22.477 20.4455 22.912C20.8967 23.3632 21.6233 23.3632 22.0582 22.912L32.1714 12.7988C32.6226 12.3628 32.6226 11.6373 32.1714 11.2023L22.0582 1.08815Z")
//Materials END
